@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all .1s ease-in-out;
}

body, html{
    height: 100%;
}

body{
    background-color: theme(colors.light-bg);
}

body.dark{
    background-color: theme(colors.dark-bg);
}